/*https://coolors.co/834e34-ad8366-d4c7b4-312e2a-271a16-887266*/
/*photo source: https://unsplash.com/photos/gUK3lA3K7Yo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink*/

:root {
  /* CSS HEX */
  --russet: #9b7759;
  --cafe-au-lait: #ad8366;
  --bone: #d4c7b4;
  --jet: #141311;
  --bistre: #271a16;
  --cinereous: #4b3f39;
}

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

body {
  display: grid;
  justify-content: center;
  grid-template-rows: 2fr 6fr 1fr;
  /* including fallback fonts */
  font-family: 'Anybody', cursive;
}

header {
  /* passes WCAG */
  text-align: center;
  background-color: var(--bistre);
  color: var(--bone);
  padding-top: 4px;
}

#name {
  line-height: 0.7;
}

#pronouns {
  opacity: 0.7;
}

.card_container {
  margin: 0;
  padding: 0;
  display: grid;
}

.card {
  padding: 2%;
}

#about_me {
  /* passes WCAG */
  background-color: var(--bone);
  color: var(--bistre);
}

#projects {
  /* passes WCAG */
  background-color: var(--russet);
  color: var(--jet);
}

#extras {
  /* passes WCAG */
  background-color: var(--cinereous);
  color: var(--bone);
}

h2 {
  text-align: center;
  font-weight: 700;
}

p {
  font-weight: 600;
  text-align: justify;
  text-overflow: ellipsis;
}

footer {
  /* passes WCAG */
  font-size: 0.9rem;
  background-color: var(--jet);
  color: var(--bone);
}

footer .footer_link_container {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: 700;
}

a:link {
  color:inherit;
  text-decoration: underline;
}

footer a {
  line-height: 0.7;
}

a:hover {
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
}

li {
  list-style: square;
}